body, html {
    height: 100%;
}
body{
	background-color: transparent;
	background-image: url("../Slike/prozor.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	text-decoration: none;
}

.menu{
	 overflow: hidden;
    background-color: transparent;
    font-size: 1px;

}
.menu button{
	/*size: 20px;*/
	border:1px ;
	overflow: hidden;
	float: left;
    padding: 20px 81px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: inherit;
	color: black;
	font-family:"Trebuchet MS", "Lucida Sans", Tahoma, sans-serif;
	text-transform: uppercase;
	margin: 0;

}
.menu button:hover {
    background-color: transparent;
    text-shadow: 0px 0px 3px gold,0px 0px 3px gold;
}
.menu button.active {
    background-color: transparent;
}

div.gallery {
    margin: 50px;
    float: left;
    width: 260px;
    height: 200px;
}

div.gallery img {
    width: 120%;
    height: 120%;
}
div.desc {
    padding: 10px;
    text-align: center;
}
.tekst{
	font-family: "Trebuchet MS", "Lucida Sans", Tahoma, sans-serif;
	padding-left: 80px;
	font-weight: bold;
	font-size: 16px;

}
.gallery img{
	margin-left:5px;
}
